body {
    background-color: #333;
    color: #ddd;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

main {
    background-color: #444;
    padding: 1rem;
}

a {
    color: #fc0;
    transition: all 0.25s;
}

a:hover {
    text-decoration: none;
    color: #f90;
}

#feedbox {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: 80px 62px 125px auto;
    min-height: 850px;
  
    @include media-breakpoint-down(sm) {
      grid-template-columns: 80px 62px auto;
      
      > div {
        grid-column: span 3;
      }
    }
}
