.feedbox {
  display: grid;
  grid-gap: 0.625rem;
  grid-template-columns: 70px 160px 40px 40px auto;

  > :nth-child(5n+1) {
    grid-column: span 5;
  }

  @include media-breakpoint-up(sm) {
    grid-template-columns: auto 70px 180px 40px 40px;

    > :nth-child(5n+1) {
      grid-column: initial;
    }
  }
}

.btn-container {
  @include media-breakpoint-up(sm) {
    text-align: right;
  }
}
